# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
.build/

# Virtual envs
.venv/
venv/
ENV/

# macOS
.DS_Store

# Azure Functions local
local.settings.json

# VS Code
.vscode/

# Byte-compiled
*.py[cod]
*$py.class

# Azure Functions packages
.python_packages/

# Logs
*.log

# Environment files
.env
.env.*
